<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>GetMyDriverCard</title>
    <link rel="stylesheet" th:href="@{/css/application.css}" type="text/css">
    <script
            src="https://code.jquery.com/jquery-3.3.1.js"
            integrity="sha256-2Kok7MbOyxpgUVvAk/HJ2jigOSYS2auK4Pfzbm7uH60="
            crossorigin="anonymous"></script>
    <script th:href="@{/scripts/applications.js}"></script>
</head>
<body>
<h1>Applications for driver card issue</h1>
<select name="Filter">
    <option value="Filter by status">Filter by status</option>
    <option value="Filter by ID">Filter by id</option>
    <option value="Filter by date of submission">Filter by date of submission</option>
    <option value="Filter by name">Filter by name</option>
</select>
<table class="applications">
    <tr class="titles">
        <!--<td>Application number</td>-->
        <td>Identity number</td>
        <td>First name</td>
        <td>Father's name</td>
        <td>Last name</td>
        <td>Date of submission</td>
        <td>Application status</td>
        <td>Application reason</td>
        <td></td>
    </tr>
    <th:block th:each="app : ${applicationList}">
        <tr class="clickable">
            <!--<td th:text="${app.getApplicationId()}"></td>-->
            <td th:text="${app.getPerson().getIdentityCard().getPersonalNumber()}"></td>
            <td th:text="${app.getPerson().getIdentityCard().getFirstName()}"></td>
            <td th:text="${app.getPerson().getIdentityCard().getFathersName()}"></td>
            <td th:text="${app.getPerson().getIdentityCard().getLastName()}"></td>
            <td th:text="${app.getDateOfSubmission()}"></td>
            <td th:text="${app.getStatus()}"></td>
            <td th:text="${app.getReason()}"></td>
            <td>
                <a class="details" th:href="@{/applications/{id}(id=${app.getApplicationId()})}">Show details &raquo;</a>
            </td>
        </tr>
    </th:block>
</table>
</body>
</html>