<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>GetMyDriverCard</title>
    <link rel="stylesheet" th:href="@{/css/application.css}" type="text/css">
    <script
            src="https://code.jquery.com/jquery-3.3.1.js"
            integrity="sha256-2Kok7MbOyxpgUVvAk/HJ2jigOSYS2auK4Pfzbm7uH60="
            crossorigin="anonymous"></script>
</head>
<body>
<h1>Applications for driver card issue</h1>
<form id="form" th:action="@{/applications/new}" onsubmit="return isValid();" method="post">
    <label for="status">Filter by status</label>
    <input type="radio" name="filter" id="status" th:onclick="showCombo()"/>
    <label for="name">Filter by name</label>
    <input type="radio" name="filter" id="name" th:onclick="showInput()"/>
    <label for="date">Filter by date of submission</label>
    <input type="radio" name="filter" id="date" th:onclick="showDate()"/>
    <label for="id">Filter by id</label>
    <input type="radio" name="filter" id="id" th:onclick="showInput()"/>
    <select class="hidden" id="combo">
        <option value="new" id="new">New</option>
        <option value="approved" id="approved">Approved</option>
        <option value="rejected" id="rejected">Rejected</option>
        <option value="in-progress" id="in-progress">In progress</option>
        <option value="completed" id="completed">Completed</option>
    </select>
    <input type="text" id="input" class="hidden">
    <input type="date" id="input-date" class="hidden" >
    <input type="submit" id="submit" class="hidden" value="Submit"
           th:onclick="'javascript:submitForm();'">
</form>
<table class="applications">
    <tr class="titles">
        <td>Identity number</td>
        <td>First name</td>
        <td>Father's name</td>
        <td>Last name</td>
        <td>Date of submission</td>
        <td>Application status</td>
        <td>Application reason</td>
        <td></td>
    </tr>
    <th:block th:each="app : ${applicationList}">
        <tr class="clickable">
            <td th:text="${app.getPerson().getIdentityCard().getPersonalNumber()}"></td>
            <td th:text="${app.getPerson().getIdentityCard().getFirstName()}"></td>
            <td th:text="${app.getPerson().getIdentityCard().getFathersName()}"></td>
            <td th:text="${app.getPerson().getIdentityCard().getLastName()}"></td>
            <td th:text="${app.getDateOfSubmission()}"></td>
            <td th:text="${app.getStatus()}"></td>
            <td th:text="${app.getReason()}"></td>
            <td>
                <a class="details" th:href="@{/applications/{id}(id=${app.getApplicationId()})}">Show details
                    &raquo;</a>
            </td>
        </tr>
    </th:block>
</table>
<script th:inline="javascript">
    function submitForm() {
        let action = null;
        // $('#form').attr('action', '');
        if ($('#status').is(':checked')) {
            let value = $('#combo').val();
            switch (value) {
                case 'new':
                    action = /*[[@{/applications/new}]]*/ '';
                    break;
                case 'approved':
                    action = /*[[@{/applications/approved}]]*/ '';
                    break;
                case 'rejected':
                    action = /*[[@{/applications/rejected}]]*/ '';
                    break;
                case 'in-progress':
                    action = /*[[@{/applications/inprogress}]]*/ '';
                    break;
                case 'completed':
                    action = /*[[@{/applications/completed}]]*/ '';
                    break;
            }
            $('#form').attr('action', action);
        } else if ($('#date').is(':checked')) {
            let value = $('#input-date').val();
            action = /*[[@{/applications/date/}]]*/ '';
            $('#form').attr('action', action + value);
        } else if ($('#id').is(':checked')) {
            let value = $('#input').val();
            action = /*[[@{/applications/id/}]]*/ '';
            $('#form').attr('action', action + value);
        } else if ($('#name').is(':checked')) {
            let value = $('#input').val();
            action = /*[[@{/applications/name/}]]*/ '';
            $('#form').attr('action', action + value);
        }
    }

    function isValid() {
        if ($('#status').is(':checked')) {
            return true;
        } else if ($('#date').is(':checked')) {
            let value = $('#input-date').val();
            if(value == null && value === undefined && value === '') {
                alert('Please choose date');
                return false;
            }

            return true;
        } else if ($('#id').is(':checked')) {
            let value = $('#input').val();
            if(value == null && value === undefined && value === '') {
                alert('Please choose date');
                return false;
            }

            return true;
        } else if ($('#name').is(':checked')) {
            let value = $('#input').val();
            if(value == null && value === undefined && value === '') {
                alert('Please choose date');
                return false;
            }

            return true;
        }

        return false;
    }

    function showCombo() {
        showStatusCombo();
        showButton();
        hideTextInput();
        hideDataInput();
    }

    function showInput() {
        showTextInput();
        showButton();
        hideStatusCombo();
        hideDataInput();
    }

    function showDate() {
        showDateInput();
        showButton();
        hideStatusCombo();
        hideTextInput();
    }

    function showDateInput() {
        let date = $('#input-date');
        date.removeClass('hidden');
        date.addClass('visible');
    }

    function hideDataInput() {
        let date = $('#input-date');
        date.addClass('hidden');
        date.removeClass('visible');
    }

    function showStatusCombo() {
        let combo = $('#combo');
        combo.removeClass('hidden');
        combo.addClass('visible');
    }

    function hideStatusCombo() {
        let combo = $('#combo');
        combo.removeClass('visible');
        combo.addClass('hidden');
    }

    function showTextInput() {
        let inputText = $('#input');
        inputText.removeClass('hidden');
        inputText.addClass('visible');
    }

    function hideTextInput() {
        let inputText = $('#input');
        inputText.removeClass('visible');
        inputText.addClass('hidden');
    }

    function showButton() {
        let submit = $('#submit');
        submit.removeClass('hidden');
        submit.addClass('visible');
    }

    function hideButton() {
        let submit = $('#submit');
        submit.removeClass('visible');
        submit.addClass('hidden');
    }
</script>
<ul class="colorlib-bubbles">
    <li></li>
    <li></li>
    <li></li>
    <li></li>
    <li></li>
    <li></li>
    <li></li>
    <li></li>
    <li></li>
    <li></li>
</ul>
</body>
</html>