<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>GetMyDriverCard</title>
    <link rel="stylesheet" th:href="@{/css/application.css}" type="text/css">
</head>
<body>
<section>
    <h1>Application</h1>
    <table>
        <tr>
            <td>
                Date of submission:
            </td>
            <td id="date-of-submission">

            </td>
        </tr>
        <tr>
            <td>
                Reason:
            </td>
            <td id="reason">

            </td>
        </tr>
        <tr>
            <td>
                Status:
            </td>
            <td id="status">

            </td>
        </tr>
        <tr>
            <td>
                Identity number:
            </td>
            <td id="identity-number">

            </td>
        </tr>
        <tr>
            <td>
                First name:
            </td>
            <td id="first-name">

            </td>
        </tr>
        <tr>
            <td>
                Father's name:
            </td>
            <td id="fathers-name">

            </td>
        </tr>
        <tr>
            <td>
                Last name:
            </td>
            <td id="last-name">

            </td>
        </tr>
        <tr>
            <td>
                City:
            </td>
            <td id="city">

            </td>
        </tr>
        <tr>
            <td>
                District:
            </td>
            <td id="district">

            </td>
        </tr>
        <tr>
            <td>
                Address:
            </td>
            <td id="address">

            </td>
        </tr>
        <tr>
            <td>
                Identity card number:
            </td>
            <td id="identity-card-number">

            </td>
        </tr>
        <tr>
            <td>
                Issued by:
            </td>
            <td id="issued-by">

            </td>
        </tr>
        <tr>
            <td>
                Issued on:
            </td>
            <td id="issued-on">

            </td>
        </tr>
        <tr>
            <td>
                Driving license number:
            </td>
            <td id="driving-license-number">

            </td>
        </tr>
        <tr>
            <td>
                Issued by:
            </td>
            <td id="issued-by-license">

            </td>
        </tr>
        <tr>
            <td>
                Issued on:
            </td>
            <td id="issued-on-license">

            </td>
        </tr>
        <tr>
            <td>
                Email:
            </td>
            <td id="email">

            </td>
        </tr>
        <tr>
            <td>
                Phone number:
            </td>
            <td id="phone-number">

            </td>
        </tr>
    </table>
</section>
</body>
</html>