<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>GetMyDriverCard</title>
    <link rel="stylesheet" th:href="@{/css/details.css}" type="text/css">
    <script
            src="https://code.jquery.com/jquery-3.3.1.js"
            integrity="sha256-2Kok7MbOyxpgUVvAk/HJ2jigOSYS2auK4Pfzbm7uH60="
            crossorigin="anonymous"></script>
</head>
<body>
<section>
    <h1>
        <span>Application &numero;</span>
        <span th:text="${applicationDetails.getApplicationId()}"></span>
    </h1>
    <table>
        <tr>
            <td>
                Date of submission:
            </td>
            <td th:text="${applicationDetails.getDateOfSubmission()}"></td>
        </tr>
        <tr>
            <td>
                Reason:
            </td>
            <td th:text="${applicationDetails.getReason()}"></td>
        </tr>
        <tr>
            <td>
                Status:
            </td>
            <td th:text="${applicationDetails.getStatus()}"></td>
        </tr>
        <tr>
            <td>
                Identity number:
            </td>
            <td th:text="${applicationDetails.getPerson().getIdentityCard().getPersonalNumber()}"></td>
        </tr>
        <tr>
            <td>
                First name:
            </td>
            <td th:text="${applicationDetails.getPerson().getIdentityCard().getFirstName()}"></td>
        </tr>
        <tr>
            <td>
                Father's name:
            </td>
            <td th:text="${applicationDetails.getPerson().getIdentityCard().getFathersName()}"></td>
        </tr>
        <tr>
            <td>
                Last name:
            </td>
            <td th:text="${applicationDetails.getPerson().getIdentityCard().getLastName()}"></td>
        </tr>
        <tr>
            <td>
                City:
            </td>
            <td th:text="${applicationDetails.getPerson().getIdentityCard().getAddress().getCity()}"></td>
        </tr>
        <tr>
            <td>
                District:
            </td>
            <td th:text="${applicationDetails.getPerson().getIdentityCard().getAddress().getDistrict()}"></td>
        </tr>
        <tr>
            <td>
                Address:
            </td>
            <td th:text="${applicationDetails.getPerson().getIdentityCard().getAddress().getAddress()}"></td>
        </tr>
        <tr>
            <td>
                Identity card number:
            </td>
            <td th:text="${applicationDetails.getPerson().getIdentityCard().getIdentityCardNumber()}"></td>
        </tr>
        <tr>
            <td>
                Issued by:
            </td>
            <td th:text="${applicationDetails.getPerson().getIdentityCard().getIssuedBy()}"></td>
        </tr>
        <tr>
            <td>
                Issued on:
            </td>
            <td th:text="${applicationDetails.getPerson().getIdentityCard().getIssuedOn()}"></td>
        </tr>
        <tr>
            <td>
                Driving license number:
            </td>
            <td th:text="${applicationDetails.getPerson().getDrivingLicense().getIdCard()}"></td>
        </tr>
        <tr>
            <td>
                Issued by:
            </td>
            <td th:text="${applicationDetails.getPerson().getDrivingLicense().getIssuedBy()}"></td>
        </tr>
        <tr>
            <td>
                Issued on:
            </td>
            <td th:text="${applicationDetails.getPerson().getDrivingLicense().getIssuedOn()}"></td>
        </tr>
        <tr>
            <td>
                Email:
            </td>
            <td th:text="${applicationDetails.getPerson().getEmail()}"></td>
        </tr>
        <tr>
            <td>
                Phone number:
            </td>
            <td th:text="${applicationDetails.getPerson().getPhoneNumber()}"></td>
        </tr>
    </table>
    <div class="buttons-container">
        <form th:action="@{/applications/new}" id="form" method="post" onsubmit="return isValid();">
            <label for="approve">Approve</label>
            <input type="radio" name="status" value="Approve" id="approve" />
            <label for="reject">Reject</label>
            <input type="radio" value="Reject" name="status" id="reject" />
            <label for="in-progress">In progress</label>
            <input type="radio" name="status" value="In progress" id="in-progress"/>
            <label for="complete">Complete</label>
            <input type="radio" name="status" value="Complete" id="complete"/>
            <input type="submit" value="Submit" id="submit"
                   th:onclick="'javascript:submitForm(\'' + ${applicationDetails.getApplicationId()} + '\');'">
        </form>
        <!--<button th:onclick="'javascript:approve(\'' + ${applicationDetails.getApplicationId()} + '\');'" id="approve" value="Approve">Approve</button>-->
        <!--<button th:onclick="'javascript:reject(\'' + ${applicationDetails.getApplicationId()} + '\');'" id="reject" value="Reject">Reject</button>-->
    </div>
    <script th:inline="javascript">
        function isValid() {
            let isApproveChecked = $('#approve').is(':checked');
            let isRejectChecked = $('#reject').is(':checked');
            let isInProgressChecked = $('#in-progress').is(':checked');
            let isCompleteChecked = $('#complete').is(':checked');

            return !!(isApproveChecked || isRejectChecked || isInProgressChecked || isCompleteChecked);
        }

        function submitForm(id) {
            if ($('#approve').is(':checked')) {
                let action = /*[[@{approve/}]]*/ '';
                $('#form').attr('action', action + id);
                confirm('Are you sure that you want to approve this application?');
            } else if ($('#reject').is(':checked')) {
                let action = /*[[@{reject/}]]*/ '';
                $('#form').attr('action', action + id);
                confirm('Are you sure that you want to reject this application?');
            } else if ($('#in-progress').is(':checked')) {
                let action = /*[[@{inprogress/}]]*/ '';
                $('#form').attr('action', action + id);
                confirm('Are you sure that this application is in progress?');
            } else if ($('#complete').is(':checked')) {
                let action = /*[[@{complete/}]]*/ '';
                $('#form').attr('action', action + id);
                confirm('Are you sure that this application is completed?');
            }
            else {
                alert('Please set status for this application');
            }
        }
    </script>
</section>
<ul class="colorlib-bubbles">
    <li></li>
    <li></li>
    <li></li>
    <li></li>
    <li></li>
    <li></li>
    <li></li>
    <li></li>
    <li></li>
    <li></li>
</ul>
</body>
</html>