@import url('https://fonts.googleapis.com/css?family=Open+Sans');

body {
    background: #3e9c45;
    font-family: 'Open sans', sans-serif;
}

.applications {
    text-align: center;
    margin: 0 auto;
    font-size: 20px;
    color: #0DFF84;
    padding: 0;
    width: 100%;
}

h1 {
    text-align: center;
    color: #E8B00C;
}

select {
    margin: 0 auto;
    background: #3e9c45;
    color: aliceblue;
}

a {
    display: block;
    text-decoration: none;
    color: #E8B00C;
}

li {
    flex-direction: column;
}

td {
    padding: 10px;
    color: aliceblue;
}