@import url('https://fonts.googleapis.com/css?family=Roboto:300');

body {
    background: #76b852; /* fallback for old browsers */
    background: -webkit-linear-gradient(right, #76b852, #8DC26F);
    background: -moz-linear-gradient(right, #76b852, #8DC26F);
    background: -o-linear-gradient(right, #76b852, #8DC26F);
    background: linear-gradient(to left, #76b852, #8DC26F);
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
    font-family: 'Roboto', sans-serif;
}

.applications {
    text-align: center;
    margin: 0 auto;
    font-size: 20px;
    color: #0DFF84;
    padding: 0;
    width: 100%;
}

h1 {
    text-align: center;
    color: #E8B00C;
}

select {
    margin: 0 auto;
    background: #3e9c45;
    color: aliceblue;
}

a {
    display: block;
    text-decoration: none;
    color: #E8B00C;
}

li {
    flex-direction: column;
}

td {
    padding: 10px;
    color: aliceblue;
}

.hidden {
    display: none;
}

.visible {
    display: inline-block;
}

form {
    display: flex;
}

#combo {
    margin: 0;
}

#submit {
    background: #E8B00C;
    border: none;
    border-radius: 15px;
    color: aliceblue;
    padding: 10px 15px;
    margin-right: 20px;
    font-size: 20px;
}






