@import url('https://fonts.googleapis.com/css?family=Roboto:300');

body {
    background: #76b852; /* fallback for old browsers */
    background: -webkit-linear-gradient(right, #76b852, #8DC26F);

    background: -moz-linear-gradient(right, #76b852, #8DC26F);
    background: -o-linear-gradient(right, #76b852, #8DC26F);
    background: linear-gradient(to left, #76b852, #8DC26F);
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
    font-family: 'Roboto', sans-serif;
}

section {
    margin: 0 auto;
    text-align: center;
    display: flex;
    flex-direction: column;
}

section h1 {
    font-size: 2.0rem;
}

table {
    margin: 0 auto;
    font-size: 20px;
}

tr {
    padding-bottom: 20px;
}

.buttons-container {
    flex-direction: row;
    margin: 0 auto;
}

#submit {
    background: #E8B00C;
    border: none;
    border-radius: 15px;
    color: aliceblue;
    padding: 10px 15px;
    margin-right: 20px;
    font-size: 20px;
}

form {
    margin: 20px 10px;
    font-size: 20px;
    display: flex;
}