@import url('https://fonts.googleapis.com/css?family=Open+Sans');

body {
    background: #3e9c45;
    font-family: 'Open sans', sans-serif;
}

.container {
    text-align: center;
    position: absolute;
    top:40%;
    right:0;
    left:0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}